# Build results
[Dd]ebug/
[Rr]elease/
[Oo]bj/
[Bb]in/
[Ll]og/

# Visual Studio files
.vs/
*.user
*.suo
*.sln.docstates

# Rider files
.idea/

# Visual Studio Code files
.vscode/

# NuGet packages
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/ 

# Publish results
[Pp]ublish/

# User-specific files
*.rsuser
*.sln.ide
*.sln.docstates
*.userprefs

# Project Files
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pdb

# Others
*.log
*.tlog
*.tmp
*.temp
*.cache

# Local History for Visual Studio
.history/
